<div id="personal-info-component" *ngIf="userInfo">

  <h1>პირადი ინფორმაცია</h1>

  <div>

    <div class="main_image_div">
      <img [src]="userInfo['image_base64']" alt="test" width="300">
      <label for="file" class="btn-2">
        <input class="image_upload" type="file" id="file" (change)="onFileUpload($event)"/>
        <mat-icon>cloud_upload</mat-icon>
      </label>
    </div>

    <div>
      <p>მომხმარებლის სახელი: {{userInfo.name}} {{userInfo['last_name']}}</p>
      <p>ელ.ფოსტა: {{userInfo['email']}}</p>
<!--      <input type="text" name="pid">-->
    </div>

  </div>

</div>
