<div id="personalInfoComponent">
  <!--  <h1>პირადი ინფორმაცია</h1>-->


  <div *ngIf="userInfo">
    <mat-grid-list rowHeight="30vh" cols="4">
      <mat-grid-tile class="sss" colspan="1" rowspan="1">
        <img class="image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="info" colspan="3">
        <p>{{userInfo.name}} {{userInfo.last_name}}</p>
        <p>{{userInfo.email}}</p>
        <input type="text" name="pid">
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
