<app-header></app-header>


<div id="student-grid-container">

  <div class="personal-info">
    <h1>პირადი ინფორმაცია</h1>
    <img src="../../../../../assets/images/header/user-profile-photo.png" height="60" width="60">
    <p>full name</p>
    <input type="text" name="pid">
  </div>

  <div class="hobbies">
    <h1>ჰობი</h1>

    <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ul>
  </div>

  <div class="work-experience">
    <h1>სამუშაო გამოცდილება</h1>
  </div>

  <div class="portfolio">
    <h1>პორტფოლიო</h1>
  </div>

</div>


<app-footer></app-footer>
