#student-grid-container {
  display: grid;
  grid-template-areas: "personal-info personal-info personal-info" "hobbies work-experience work-experience" "hobbies portfolio portfolio";
  grid-gap: 20px;

  & > * {
    padding: 30px;
    box-shadow: 0 0 16px -6px rgba(0,0,0,1);
  }

  app-personal-info {
    //background-color: orange;
    grid-area: personal-info;
  }

  app-hobbies {
    //background-color: lightblue;
    grid-area: hobbies;
  }

  app-work-experience {
    //background-color: green;
    grid-area: work-experience;
  }

  .portfolio {
    //background-color: purple;
    grid-area: portfolio;
  }
}

@media only screen and (max-width: 1000px) {
  #student-grid-container {
    grid-template-areas: "personal-info personal-info personal-info" "work-experience work-experience work-experience" "portfolio portfolio portfolio" "hobbies hobbies hobbies";
  }
}
