<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #sidenav
               mode="over" position="end"
               [fixedInViewport]="true"
               [autoFocus]="false" [disableClose]="false">

    <app-student-info-sidenav></app-student-info-sidenav>

  </mat-sidenav>

  <mat-sidenav-content style="height: 100vh;">

    <app-header></app-header>

    <button mat-button mat-icon-button
            matTooltip="კურსდამთავრებულის დამატება"
            id="add-senior-student"
            (click)="openaddOrEditSeniorStudentDialog()">
      <mat-icon>add_circle</mat-icon>
    </button>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="isEmployed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>დასაქმების სტატუსი</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon *ngIf="row.isEmployed">check_circle_outline</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>სახელი, გვარი</th>
          <td mat-cell *matCellDef="let row">
            <span id="full-name" (click)="openStudentInfoSideNav()">{{row.fullName}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>დასაწყისი</th>
          <td mat-cell *matCellDef="let row"> {{row.startDate}}</td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>დასასრული</th>
          <td mat-cell *matCellDef="let row"> {{row.endDate}}</td>
        </ng-container>

        <ng-container matColumnDef="editAndDeleteIcons">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <button mat-button mat-icon-button
                    matTooltip="ჩასწორება"
                    (click)="openaddOrEditSeniorStudentDialog()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button mat-icon-button
                    matTooltip="წაშლა"
                    (click)="openConfirmSeniorStudentDeletionDialog()">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
