#auth-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  #form-container {
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 56px;
  }
}
