<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #sidenav
               mode="over" position="end"
               [fixedInViewport]="true"
               [autoFocus]="false" [disableClose]="false">

    <app-student-info-sidenav *ngIf="sidenavId === 1" [studentId]="clickedStudentId"></app-student-info-sidenav>

    <app-filter-grid-sidenav *ngIf="sidenavId === 2" (onFilter)="filter($event)"></app-filter-grid-sidenav>

  </mat-sidenav>

  <mat-sidenav-content>

    <app-header></app-header>


    <div id="table-container">
      <div id="table-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <button mat-button mat-icon-button (click)="openFilterGridSidenav()">
          <mat-icon>filter_list</mat-icon>
        </button>

        <button mat-button mat-icon-button
                matTooltip="კურსდამთავრებულის დამატება"
                (click)="openAddOrEditSeniorStudentDialog()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>

      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onTableSort($event)">

        <ng-container matColumnDef="employed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>დასაქმების სტატუსი</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon *ngIf="row.employed">check_circle_outline</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="full_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>სახელი, გვარი</th>
          <td mat-cell *matCellDef="let row">
            <span id="full-name" (click)="openStudentInfoSideNav(row.id)">{{row.full_name}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>დასაწყისი</th>
          <td mat-cell *matCellDef="let row"> {{row.startDate}}</td>
        </ng-container>

        <ng-container matColumnDef="graduate_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>დასასრული</th>
          <td mat-cell *matCellDef="let row"> {{row.graduate_date}}</td>
        </ng-container>

        <ng-container matColumnDef="editAndDeleteIcons">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <button mat-button mat-icon-button
                    matTooltip="ჩასწორება"
                    (click)="openAddOrEditSeniorStudentDialog()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button mat-icon-button
                    matTooltip="წაშლა"
                    (click)="openConfirmSeniorStudentDeletionDialog(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPagingChange($event)"></mat-paginator>
    </div>


    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
