<form [formGroup]="signInFormGroup" (ngSubmit)="submit()">

  <header>
    <img src="assets/images/tsu-logo.png">
    <p>TSU-CyberCompAlu</p>
  </header>

  <div id="form-controls">
    <mat-form-field appearance="outline">
      <mat-label>მომხმარებელი</mat-label>
      <input type="text" formControlName="username" matInput placeholder="მომხმარებელი" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>პაროლი</mat-label>
      <input type="password" formControlName="password" matInput placeholder="პაროლი" required>
    </mat-form-field>
  </div>

  <footer>
    <button mat-button type="submit">შესვლა</button>

    <span id="usernameOrPasswordIsIncorrectMsg"
          *ngIf="isUsernameOrPasswordIsIncorrectMsgDisplayed">მომხმარებლის სახელი ან პაროლი არასწორია.</span>
  </footer>

</form>
