<div id="header-container">

  <div id="content">

    <a routerLink="">
      <img src="assets/images/header/tsu-logo.png">
    </a>

    <div id="authentication">
      <div id="user">
        <p id="greetings">მოგესალმებით <span id="username">{{username}}</span></p>
        <img src="assets/images/header/user-profile-photo.png" height="41" width="41">
      </div>

      <button mat-button mat-icon-button
              matTooltip="სისტემიდან გასვლა" (click)="logout()">
        <img src="assets/images/header/log-out.png">
      </button>
    </div>

  </div>

</div>
