#auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  #form-container {
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 56px;
  }
}
